<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-redis.xml"/>
    <import resource="spring-session.xml"/>
    <!-- 扫描包下面的所有的类是否受spring的管理，需要spring创建对象 -->
    <context:component-scan base-package="com.fqg.entity,com.fqg.service,com.fqg.dao,com.fqg.controller,com.fqg.cache"/>


    <bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 是过滤器代理类所代理的实体对象 -->
    <!-- name的取值必须要和web.xml中的filter的名称一致，因为过滤器代理是通过filter的名称查找spring容器中的代理对象-->
    <bean name="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--指定登录界面-->
        <property name="loginUrl" value="login_manager.html"/>

        <!--=============================================================================================-->
        <property name="filterChainDefinitions">
            <value>
                <!--anon不需要登录-->
                <!--/assets/**=anon-->
                <!--/html/**=anon-->
                <!--/index_manager.html=anon-->
                <!--/login_manager.html=anon-->
                <!--/user/login=anon-->
                <!--/css/**=anon-->
                <!--/css5/**=anon-->
                <!--/dist/**=anon-->
                <!--/images/**=anon-->
                <!--/js/**=anon-->
                <!--/vendor/**=anon-->
                <!--&lt;!&ndash;authc需要登录才能访问&ndash;&gt;-->
                <!--&lt;!&ndash;user配合rememberMe使用有效，authc不能配合rememberMe使用&ndash;&gt;-->
                <!--/**=user-->
            </value>
        </property>
        <!--=============================================================================================-->
    </bean>



    <bean name="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="authenticator" ref="myAuthenticator"/>-->
        <property name="realms">
            <list>
                <ref bean="userRealm"/>
                <!--<ref bean="merhcantRealm"/>-->
            </list>
        </property>
        <!--&lt;!&ndash;记住登录状态方便下次直接进入&ndash;&gt;-->
        <!--<property name="rememberMeManager" ref="rememberMeManager"/>-->
    </bean>
    <bean id="userRealm" class="com.fqg.realm.UserRealm"/>


    <!--<bean name="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">-->
        <!--<property name="cookie" ref="rememberMeCookie"/>-->
    <!--</bean>-->

    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!--与页面一致-->
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/> <!--避免XSS攻击-->
        <property name="maxAge" value="30000"/><!-- 失效时间 -->
    </bean>

    <!--<bean name="mybatisRealm" class="com.fqg.realm.MyBatisRealm"/>-->


</beans>