<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.Cart">
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_info" jdbcType="VARCHAR" property="commodityInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    cart_id, customer_id, commodity_id, commodity_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <select id="selectByCustomerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cart
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fqg.entity.Cart">
    insert into cart (cart_id, customer_id, commodity_id, 
      commodity_info)
    values (#{cartId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER}, 
      #{commodityInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fqg.entity.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityInfo != null">
        commodity_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodity_info != null">
        #{commodityInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqg.entity.Cart">
    update cart
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityInfo != null">
        commodity_info = #{commodityInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqg.entity.Cart">
    update cart
    set customer_id = #{customerId,jdbcType=INTEGER},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      commodity_info = #{commodityInfo,jdbcType=VARCHAR}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>