<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.Commodity">
    <id column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_price" jdbcType="INTEGER" property="commodityPrice" />
    <result column="commodity_description" jdbcType="VARCHAR" property="commodityDescription" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="commodity_status" jdbcType="INTEGER" property="commodityStatus" />
    <result column="three_type_id" jdbcType="INTEGER" property="threeTypeId" />
    <result column="two_type_id" jdbcType="INTEGER" property="twoTypeId" />
    <result column="one_type_id" jdbcType="INTEGER" property="oneTypeId" />
    <collection property="colors" column="commodity_id" select="com.fqg.dao.CommodityColorMapper.selectByCommodityId"/>
  </resultMap>
  <sql id="Base_Column_List">
    commodity_id, commodity_name, commodity_price, commodity_description, number, create_time, 
    update_time, delete_time, commodity_status, three_type_id, two_type_id, one_type_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fqg.entity.Commodity">
    insert into commodity (commodity_id, commodity_name, commodity_price, 
      commodity_description, number, create_time, 
      update_time, delete_time, commodity_status, 
      three_type_id, two_type_id, one_type_id
      )
    values (#{commodityId,jdbcType=INTEGER}, #{commodityName,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=INTEGER}, 
      #{commodityDescription,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{commodityStatus,jdbcType=INTEGER}, 
      #{threeTypeId,jdbcType=INTEGER}, #{twoTypeId,jdbcType=INTEGER}, #{oneTypeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fqg.entity.Commodity">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="commodityDescription != null">
        commodity_description,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="commodityStatus != null">
        commodity_status,
      </if>
      <if test="threeTypeId != null">
        three_type_id,
      </if>
      <if test="twoTypeId != null">
        two_type_id,
      </if>
      <if test="oneTypeId != null">
        one_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=INTEGER},
      </if>
      <if test="commodityDescription != null">
        #{commodityDescription,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commodityStatus != null">
        #{commodityStatus,jdbcType=INTEGER},
      </if>
      <if test="threeTypeId != null">
        #{threeTypeId,jdbcType=INTEGER},
      </if>
      <if test="twoTypeId != null">
        #{twoTypeId,jdbcType=INTEGER},
      </if>
      <if test="oneTypeId != null">
        #{oneTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqg.entity.Commodity">
    update commodity
    <set>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=INTEGER},
      </if>
      <if test="commodityDescription != null">
        commodity_description = #{commodityDescription,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commodityStatus != null">
        commodity_status = #{commodityStatus,jdbcType=INTEGER},
      </if>
      <if test="threeTypeId != null">
        three_type_id = #{threeTypeId,jdbcType=INTEGER},
      </if>
      <if test="twoTypeId != null">
        two_type_id = #{twoTypeId,jdbcType=INTEGER},
      </if>
      <if test="oneTypeId != null">
        one_type_id = #{oneTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqg.entity.Commodity">
    update commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=INTEGER},
      commodity_description = #{commodityDescription,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      commodity_status = #{commodityStatus,jdbcType=INTEGER},
      three_type_id = #{threeTypeId,jdbcType=INTEGER},
      two_type_id = #{twoTypeId,jdbcType=INTEGER},
      one_type_id = #{oneTypeId,jdbcType=INTEGER}
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
</mapper>