<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.Customer">
    <id column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="ID_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="all_quota" jdbcType="INTEGER" property="allQuota" />
    <result column="quota" jdbcType="INTEGER" property="quota" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
  </resultMap>
  <sql id="Base_Column_List">
    customer_id, phone_number, username, login_password, pay_password, true_name, ID_number, 
    all_quota, quota, create_time, company_name, school_name
  </sql>



  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    limit #{first},#{pageSize}
  </select>

  <select id="selectCount"  resultType="java.lang.Integer">
    select
    count(customer_id)
    from customer
  </select>

  <select id="selectByID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where ID_number = #{idNumber}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>

  <select id="selectByNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where phone_number = #{customerId,jdbcType=VARCHAR}
  </select>
  <select id="selectTrueNameById" resultType="java.lang.String">
    select
    true_name
    from customer
    where customer_id = #{customerId}
  </select>
  <select id="selectByPhoneNumber" resultMap="BaseResultMap">
    select
    customer_id, phone_number, username, true_name, ID_number,
    all_quota, quota, create_time, company_name, school_name
    from customer
    where phone_number = #{phoneNumber}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fqg.entity.Customer">
    insert into customer (customer_id, phone_number, username, 
      login_password, pay_password, true_name, 
      ID_number, all_quota, quota, 
      create_time, company_name, school_name
      )
    values (#{customerId,jdbcType=INTEGER}, #{phoneNumber,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{loginPassword,jdbcType=VARCHAR}, #{payPassword,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{allQuota,jdbcType=INTEGER}, #{quota,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fqg.entity.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="payPassword != null">
        pay_password,
      </if>
      <if test="trueName != null">
        true_name,
      </if>
      <if test="idNumber != null">
        ID_number,
      </if>
      <if test="allQuota != null">
        all_quota,
      </if>
      <if test="quota != null">
        quota,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null">
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="allQuota != null">
        #{allQuota,jdbcType=INTEGER},
      </if>
      <if test="quota != null">
        #{quota,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqg.entity.Customer">
    update customer
    <set>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null">
        pay_password = #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        ID_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="allQuota != null">
        all_quota = #{allQuota,jdbcType=INTEGER},
      </if>
      <if test="quota != null">
        quota = #{quota,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqg.entity.Customer">
    update customer
    set phone_number = #{phoneNumber,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      pay_password = #{payPassword,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      ID_number = #{idNumber,jdbcType=VARCHAR},
      all_quota = #{allQuota,jdbcType=INTEGER},
      quota = #{quota,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR}
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
</mapper>