<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.Info">
    <id column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="property_id" jdbcType="INTEGER" property="propertyId" />
    <result column="info_name" jdbcType="VARCHAR" property="infoName" />
  </resultMap>
  <sql id="Base_Column_List">
    info_id, property_id, info_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info
    where info_id = #{infoId,jdbcType=INTEGER}
  </select>

  <select id="selectInfoListByCommodityId" resultMap="BaseResultMap">
    select
    i.info_id, property_id, info_name
    from info i
    inner join commodity_info ci
    on i.info_id = ci.ci_info_id
    where ci.ci_commodity_id = #{commodityId};
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info
    where info_id = #{infoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fqg.entity.Info">
    insert into info (info_id, property_id, info_name
      )
    values (#{infoId,jdbcType=INTEGER}, #{propertyId,jdbcType=INTEGER}, #{infoName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fqg.entity.Info">
    insert into info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        info_id,
      </if>
      <if test="propertyId != null">
        property_id,
      </if>
      <if test="infoName != null">
        info_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="propertyId != null">
        #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="infoName != null">
        #{infoName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqg.entity.Info">
    update info
    <set>
      <if test="propertyId != null">
        property_id = #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="infoName != null">
        info_name = #{infoName,jdbcType=VARCHAR},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqg.entity.Info">
    update info
    set property_id = #{propertyId,jdbcType=INTEGER},
      info_name = #{infoName,jdbcType=VARCHAR}
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
</mapper>