<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.LabelsMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.Labels">
    <id column="label_id" jdbcType="INTEGER" property="labelId" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
  </resultMap>
  <sql id="Base_Column_List">
    label_id, label_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from labels
    where label_id = #{labelId,jdbcType=INTEGER}
  </select>

  <select id="selectLabelListByCommodityId" resultMap="BaseResultMap">
    select
    l.label_id, label_name
    from labels l
    inner join commodity_label cl
    on l.label_id = cl.cl_label_id
    where cl.cl_commodity_id = #{commodityId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from labels
    where label_id = #{labelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fqg.entity.Labels">
    insert into labels (label_id, label_name)
    values (#{labelId,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fqg.entity.Labels">
    insert into labels
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        label_id,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqg.entity.Labels">
    update labels
    <set>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqg.entity.Labels">
    update labels
    set label_name = #{labelName,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
</mapper>