<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.OrderVOMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.OrderVO">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="pay_money" jdbcType="INTEGER" property="payMoney" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="stage" jdbcType="INTEGER" property="stage" />
    <result column="order_state" jdbcType="INTEGER" property="state"/>
    <association property="commoditySmallVO" column="order_id" select="com.fqg.dao.CommoditySmallVOMapper.selectByOrder"></association>
  </resultMap>

  <select id="selectByCustomer" resultMap="BaseResultMap">
    select
    order_id,create_time,order_num,stage,pay_money,amount,stage,order_state
    from orders
    where customer_id = #{customerId}
  </select>

</mapper>