<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqg.dao.TypeTwoMapper">
  <resultMap id="BaseResultMap" type="com.fqg.entity.TypeTwo">
    <id column="type_two_id" jdbcType="INTEGER" property="typeTwoId" />
    <result column="type_one_id" jdbcType="INTEGER" property="typeOneId" />
    <result column="type_two_name" jdbcType="VARCHAR" property="typeTwoName" />
  </resultMap>
  <sql id="Base_Column_List">
    type_two_id, type_one_id, type_two_name
  </sql>

  <select id="selectByTypeOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from type_two
    where type_one_id = #{typeOneId}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from type_two
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type_two
    where type_two_id = #{typeTwoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type_two
    where type_two_id = #{typeTwoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fqg.entity.TypeTwo">
    insert into type_two (type_two_id, type_one_id, type_two_name
      )
    values (#{typeTwoId,jdbcType=INTEGER}, #{typeOneId,jdbcType=INTEGER}, #{typeTwoName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fqg.entity.TypeTwo">
    insert into type_two
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeTwoId != null">
        type_two_id,
      </if>
      <if test="typeOneId != null">
        type_one_id,
      </if>
      <if test="typeTwoName != null">
        type_two_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeTwoId != null">
        #{typeTwoId,jdbcType=INTEGER},
      </if>
      <if test="typeOneId != null">
        #{typeOneId,jdbcType=INTEGER},
      </if>
      <if test="typeTwoName != null">
        #{typeTwoName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqg.entity.TypeTwo">
    update type_two
    <set>
      <if test="typeOneId != null">
        type_one_id = #{typeOneId,jdbcType=INTEGER},
      </if>
      <if test="typeTwoName != null">
        type_two_name = #{typeTwoName,jdbcType=VARCHAR},
      </if>
    </set>
    where type_two_id = #{typeTwoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqg.entity.TypeTwo">
    update type_two
    set type_one_id = #{typeOneId,jdbcType=INTEGER},
      type_two_name = #{typeTwoName,jdbcType=VARCHAR}
    where type_two_id = #{typeTwoId,jdbcType=INTEGER}
  </update>
</mapper>